body {
    background-color: #e8e8e8;
}

.kartu {
    width: 800px;
    margin: 0 auto;
    margin-top: 70px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .03);
    transition: all .3s;
}

.foto {
    padding: 20px;
}

tbody {
    font-size: 20px;
    font-weight: 300;
}

.biodata {
    margin-top: 30px;
}